.flip-horizontal {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

canvas#drawing {
    position: absolute;
}

img#loading {
    position:relative;
}

textarea#log {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    color: 'darkgray';
}