<!DOCTYPE HTML>

<html>
   <head>
      <title>Profile Masker</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <script src="{{ url_for('static', filename='vendor/jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/webcam.js') }}"></script>  
    </head>

    <body> 
      <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
          <span class="navbar-brand mb-0 h_text">Profile Masker</span>
        </nav>
        <div id="webcam" class="col-sm-12 col-md-8 col-lg-6 mt-2 mx-auto">
          <div class="row">
            <video id="video" class="flip-horizontal" width="640" height="480" autoplay></video>
            <canvas id="image" class="flip-horizontal d-none" width="640" height="480" ></canvas>
            <canvas id="drawing" class="flip-horizontal d-none" width="640" height="480" ></canvas>
          </div>
          <div class="row d-block mt-2 button-row">
            <button id="snap" class="btn btn-primary">Snap</button>
            <button id="upload" class="btn btn-secondary" type="file">Upload</button>
            <button id="refine" class="btn btn-light">Refine</button>
            <img id="loading" src="{{ url_for('static', filename='loading.gif') }}" class="d-none"/>

            <button id="reset" class="btn btn-warning float-right">Reset</button>
          </div>
          <div class="row">
            <textarea id="log" readonly>pageload</textarea>
          </div>
        </div>
    </div>
    </body>

</html>